# Python для Data Science. Курсовой проект

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline
%config InlineBackend.figure_format = 'svg'

In [2]:
data = pd.read_csv('/home/alex/Downloads/Kurs_project_task/train.csv')
data.head()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
0,14038,35,2.0,47.981561,29.442751,6.0,7,9.0,1969,0.089040,B,B,33,7976,5,NaN,0,11,B,184966.930730
1,15053,41,3.0,65.683640,40.049543,8.0,7,9.0,1978,0.000070,B,B,46,10309,1,240.0,1,16,B,300009.450063
2,4765,53,2.0,44.947953,29.197612,0.0,8,12.0,1968,0.049637,B,B,34,7759,0,229.0,1,3,B,220925.908524
3,5809,58,2.0,53.352981,52.731512,9.0,8,17.0,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,175616.227217
4,10783,99,1.0,39.649192,23.776169,7.0,11,12.0,1976,0.012339,B,B,35,5776,1,2078.0,2,4,B,150226.531644

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
Id               10000 non-null int64
DistrictId       10000 non-null int64
Rooms            10000 non-null float64
Square           10000 non-null float64
LifeSquare       7887 non-null float64
KitchenSquare    10000 non-null float64
Floor            10000 non-null int64
HouseFloor       10000 non-null float64
HouseYear        10000 non-null int64
Ecology_1        10000 non-null float64
Ecology_2        10000 non-null object
Ecology_3        10000 non-null object
Social_1         10000 non-null int64
Social_2         10000 non-null int64
Social_3         10000 non-null int64
Healthcare_1     5202 non-null float64
Helthcare_2      10000 non-null int64
Shops_1          10000 non-null int64
Shops_2          10000 non-null object
Price            10000 non-null float64
dtypes: float64(8), int64(9), object(3)
memory usage: 1.5+ MB

In [4]:
data.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Price
count,10000.00000,10000.000000,10000.000000,10000.000000,7887.000000,10000.000000,10000.000000,10000.000000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,5202.000000,10000.000000,10000.000000,10000.000000
mean,8383.40770,50.400800,1.890500,56.315775,37.199645,6.273300,8.526700,12.609400,3.990166e+03,0.118858,24.687000,5352.157400,8.039200,1142.904460,1.319500,4.231300,214138.857399
std,4859.01902,43.587592,0.839512,21.058732,86.241209,28.560917,5.241148,6.775974,2.005003e+05,0.119025,17.532614,4006.799803,23.831875,1021.517264,1.493601,4.806341,92872.293865
min,0.00000,0.000000,0.000000,1.136859,0.370619,0.000000,1.000000,0.000000,1.910000e+03,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,0.000000,59174.778028
25%,4169.50000,20.000000,1.000000,41.774881,22.769832,1.000000,4.000000,9.000000,1.974000e+03,0.017647,6.000000,1564.000000,0.000000,350.000000,0.000000,1.000000,153872.633942
50%,8394.50000,36.000000,2.000000,52.513310,32.781260,6.000000,7.000000,13.000000,1.977000e+03,0.075424,25.000000,5285.000000,2.000000,900.000000,1.000000,3.000000,192269.644879
75%,12592.50000,75.000000,2.000000,65.900625,45.128803,9.000000,12.000000,17.000000,2.001000e+03,0.195781,36.000000,7227.000000,5.000000,1548.000000,2.000000,6.000000,249135.462171
max,16798.00000,209.000000,19.000000,641.065193,7480.592129,2014.000000,42.000000,117.000000,2.005201e+07,0.521867,74.000000,19083.000000,141.000000,4849.000000,6.000000,23.000000,633233.466570

In [5]:
data.drop('Healthcare_1', axis=1, inplace=True)

In [6]:
data.groupby('Rooms')['Rooms'].agg('count')

Rooms
0.0        8
1.0     3705
2.0     3880
3.0     2235
4.0      150
5.0       18
6.0        1
10.0       2
19.0       1
Name: Rooms, dtype: int64

In [7]:
data.drop(data.loc[data['Rooms'] > 5].index, axis=0, inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9996 entries, 0 to 9999
Data columns (total 19 columns):
Id               9996 non-null int64
DistrictId       9996 non-null int64
Rooms            9996 non-null float64
Square           9996 non-null float64
LifeSquare       7883 non-null float64
KitchenSquare    9996 non-null float64
Floor            9996 non-null int64
HouseFloor       9996 non-null float64
HouseYear        9996 non-null int64
Ecology_1        9996 non-null float64
Ecology_2        9996 non-null object
Ecology_3        9996 non-null object
Social_1         9996 non-null int64
Social_2         9996 non-null int64
Social_3         9996 non-null int64
Helthcare_2      9996 non-null int64
Shops_1          9996 non-null int64
Shops_2          9996 non-null object
Price            9996 non-null float64
dtypes: float64(7), int64(9), object(3)
memory usage: 1.5+ MB

In [8]:
data['Square'].plot(kind='hist', logy=True)

In [9]:
data.loc[data['Square'] > 200]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
1981,7917,27,0.0,212.932361,211.231125,0.0,2,3.0,2008,0.211401,B,B,9,1892,0,0,1,B,302211.260887
1982,5548,86,5.0,275.645284,233.949309,26.0,12,37.0,2011,0.161976,B,A,31,7010,5,3,7,B,455264.882666
4262,28,9,2.0,604.705972,NaN,1.0,17,18.0,1977,0.161532,B,B,25,5648,1,2,4,B,187717.242538
4690,2307,102,1.0,409.425181,410.639749,10.0,4,4.0,2016,0.238617,B,B,26,3889,6,3,6,B,90470.430830
6977,11602,30,2.0,641.065193,638.163193,10.0,20,19.0,2019,0.000078,B,B,22,6398,141,3,23,B,133529.681562
9910,16568,27,4.0,200.334539,201.627361,25.0,1,2.0,2013,0.041116,B,B,53,14892,4,1,4,B,528560.506016

In [10]:
data.drop(data.loc[(data['Square'] > 200) & (data['Price'] < 200000)].index, axis=0, inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9993 entries, 0 to 9999
Data columns (total 19 columns):
Id               9993 non-null int64
DistrictId       9993 non-null int64
Rooms            9993 non-null float64
Square           9993 non-null float64
LifeSquare       7881 non-null float64
KitchenSquare    9993 non-null float64
Floor            9993 non-null int64
HouseFloor       9993 non-null float64
HouseYear        9993 non-null int64
Ecology_1        9993 non-null float64
Ecology_2        9993 non-null object
Ecology_3        9993 non-null object
Social_1         9993 non-null int64
Social_2         9993 non-null int64
Social_3         9993 non-null int64
Helthcare_2      9993 non-null int64
Shops_1          9993 non-null int64
Shops_2          9993 non-null object
Price            9993 non-null float64
dtypes: float64(7), int64(9), object(3)
memory usage: 1.5+ MB

In [11]:
data.loc[data['LifeSquare'] > 200]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
590,14990,23,2.0,48.449873,263.542020,5.0,6,5.0,1972,0.075779,B,B,6,1437,3,0,2,B,141780.231857
1981,7917,27,0.0,212.932361,211.231125,0.0,2,3.0,2008,0.211401,B,B,9,1892,0,0,1,B,302211.260887
1982,5548,86,5.0,275.645284,233.949309,26.0,12,37.0,2011,0.161976,B,A,31,7010,5,3,7,B,455264.882666
4328,16550,27,3.0,81.694417,7480.592129,1.0,9,17.0,2016,0.017647,B,B,2,469,0,0,0,B,217357.492366
8437,15886,85,3.0,78.059331,461.463614,10.0,12,16.0,1998,0.037178,B,B,52,11217,1,1,7,B,394253.299978
9910,16568,27,4.0,200.334539,201.627361,25.0,1,2.0,2013,0.041116,B,B,53,14892,4,1,4,B,528560.506016

In [12]:
data.loc[data['LifeSquare'] > data['Square']]['Id'].agg('count')

481

In [13]:
def prepare_kitchen_square(df):
    df.loc[df['KitchenSquare'] > df['LifeSquare'], 'KitchenSquare'] = df['KitchenSquare'].mean()
    df.loc[df['KitchenSquare']  > 50, 'KitchenSquare'] = df['KitchenSquare'].mean()
    return df

In [14]:
def prepare_life_square(df):
    df.loc[df['LifeSquare'] > df['Square'], 'LifeSquare'] = df['Square']
    return df

In [15]:
def fillna_life_square(df,df_source):
    df['LifeSquare']=df['LifeSquare'].fillna(df_source['LifeSquare'].mean())
    return df

In [16]:
data = fillna_life_square(data,data)
data = prepare_kitchen_square(data)
data = prepare_life_square(data)

In [17]:
data.loc[data['HouseYear'] > 2020]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
1497,10814,109,1.0,37.265070,20.239714,9.0,9,12.0,20052011,0.136330,B,B,30,6141,10,3,6,B,254084.534396
4189,11607,147,2.0,44.791836,28.360393,5.0,4,9.0,4968,0.319809,B,B,25,4756,16,5,8,B,243028.603096

In [18]:
data.loc[data['HouseYear']==4968,'HouseYear']=1968
data.loc[data['HouseYear']==20052011,'HouseYear']=2008

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9993 entries, 0 to 9999
Data columns (total 19 columns):
Id               9993 non-null int64
DistrictId       9993 non-null int64
Rooms            9993 non-null float64
Square           9993 non-null float64
LifeSquare       9993 non-null float64
KitchenSquare    9993 non-null float64
Floor            9993 non-null int64
HouseFloor       9993 non-null float64
HouseYear        9993 non-null int64
Ecology_1        9993 non-null float64
Ecology_2        9993 non-null object
Ecology_3        9993 non-null object
Social_1         9993 non-null int64
Social_2         9993 non-null int64
Social_3         9993 non-null int64
Helthcare_2      9993 non-null int64
Shops_1          9993 non-null int64
Shops_2          9993 non-null object
Price            9993 non-null float64
dtypes: float64(7), int64(9), object(3)
memory usage: 1.8+ MB

In [20]:
data['Ecology_2'].unique()

array(['B', 'A'], dtype=object)

In [21]:
data['Ecology_3'].unique()

array(['B', 'A'], dtype=object)

In [22]:
data['Shops_2'].unique()

array(['B', 'A'], dtype=object)

In [23]:
data = pd.get_dummies(data)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9993 entries, 0 to 9999
Data columns (total 22 columns):
Id               9993 non-null int64
DistrictId       9993 non-null int64
Rooms            9993 non-null float64
Square           9993 non-null float64
LifeSquare       9993 non-null float64
KitchenSquare    9993 non-null float64
Floor            9993 non-null int64
HouseFloor       9993 non-null float64
HouseYear        9993 non-null int64
Ecology_1        9993 non-null float64
Social_1         9993 non-null int64
Social_2         9993 non-null int64
Social_3         9993 non-null int64
Helthcare_2      9993 non-null int64
Shops_1          9993 non-null int64
Price            9993 non-null float64
Ecology_2_A      9993 non-null uint8
Ecology_2_B      9993 non-null uint8
Ecology_3_A      9993 non-null uint8
Ecology_3_B      9993 non-null uint8
Shops_2_A        9993 non-null uint8
Shops_2_B        9993 non-null uint8
dtypes: float64(7), int64(9), uint8(6)
memory usage: 1.7 MB

In [24]:
price=data['Price'].mean()
price_mean_by_district=data.groupby(['DistrictId', 'Rooms'],as_index=False).agg({'Price':'mean'}).\
                    rename(columns={'Price':'mean_price_by_district'})

In [25]:
def add_mean_price(df,price_mean_by_district,price):
    df=pd.merge(df,price_mean_by_district,on=['DistrictId', 'Rooms'],how='left')
    df['mean_price_by_district']=df['mean_price_by_district'].fillna(price)
    return df

In [26]:
data = add_mean_price(data, price_mean_by_district, price)
data.head()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,...,Helthcare_2,Shops_1,Price,Ecology_2_A,Ecology_2_B,Ecology_3_A,Ecology_3_B,Shops_2_A,Shops_2_B,mean_price_by_district
0,14038,35,2.0,47.981561,29.442751,6.0,7,9.0,1969,0.089040,...,0,11,184966.930730,0,1,0,1,0,1,213160.076297
1,15053,41,3.0,65.683640,40.049543,8.0,7,9.0,1978,0.000070,...,1,16,300009.450063,0,1,0,1,0,1,303643.563728
2,4765,53,2.0,44.947953,29.197612,0.0,8,12.0,1968,0.049637,...,1,3,220925.908524,0,1,0,1,0,1,259938.729121
3,5809,58,2.0,53.352981,52.731512,9.0,8,17.0,1977,0.437885,...,0,5,175616.227217,0,1,0,1,0,1,172368.882269
4,10783,99,1.0,39.649192,23.776169,7.0,11,12.0,1976,0.012339,...,2,4,150226.531644,0,1,0,1,0,1,155748.415754

In [27]:
data.drop('DistrictId', axis=1, inplace=True)

In [28]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as mse,r2_score as r2
from sklearn.ensemble import RandomForestRegressor as RF
model = RandomForestRegressor(n_estimators=1000, random_state=42, max_depth=15, min_samples_leaf=3)

In [29]:
X = data.loc[:, data.columns != 'Price']
y = data['Price']

In [30]:
X.head()

,Id,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,...,Social_3,Helthcare_2,Shops_1,Ecology_2_A,Ecology_2_B,Ecology_3_A,Ecology_3_B,Shops_2_A,Shops_2_B,mean_price_by_district
0,14038,2.0,47.981561,29.442751,6.0,7,9.0,1969,0.089040,33,...,5,0,11,0,1,0,1,0,1,213160.076297
1,15053,3.0,65.683640,40.049543,8.0,7,9.0,1978,0.000070,46,...,1,1,16,0,1,0,1,0,1,303643.563728
2,4765,2.0,44.947953,29.197612,0.0,8,12.0,1968,0.049637,34,...,0,1,3,0,1,0,1,0,1,259938.729121
3,5809,2.0,53.352981,52.731512,9.0,8,17.0,1977,0.437885,23,...,3,0,5,0,1,0,1,0,1,172368.882269
4,10783,1.0,39.649192,23.776169,7.0,11,12.0,1976,0.012339,35,...,1,2,4,0,1,0,1,0,1,155748.415754

In [31]:
y.head()

0    184966.930730
1    300009.450063
2    220925.908524
3    175616.227217
4    150226.531644
Name: Price, dtype: float64

In [32]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.30, random_state=42)

In [33]:
model.fit(X_train, y_train)
y_pred = model.predict(X_valid)

In [34]:
r2(y_valid, y_pred)

0.7691597957989165

In [35]:
test = pd.read_csv('/home/alex/Downloads/Kurs_project_task/test.csv')
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 19 columns):
Id               5000 non-null int64
DistrictId       5000 non-null int64
Rooms            5000 non-null float64
Square           5000 non-null float64
LifeSquare       3959 non-null float64
KitchenSquare    5000 non-null float64
Floor            5000 non-null int64
HouseFloor       5000 non-null float64
HouseYear        5000 non-null int64
Ecology_1        5000 non-null float64
Ecology_2        5000 non-null object
Ecology_3        5000 non-null object
Social_1         5000 non-null int64
Social_2         5000 non-null int64
Social_3         5000 non-null int64
Healthcare_1     2623 non-null float64
Helthcare_2      5000 non-null int64
Shops_1          5000 non-null int64
Shops_2          5000 non-null object
dtypes: float64(7), int64(9), object(3)
memory usage: 742.3+ KB

In [36]:
test = fillna_life_square(test,data)
test = prepare_kitchen_square(test)
test = prepare_life_square(test)
test = add_mean_price(test, price_mean_by_district, price)
test = pd.get_dummies(test)
test.drop('Healthcare_1', axis=1, inplace=True)
test.drop('DistrictId', axis=1, inplace=True)

In [37]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 0 to 4999
Data columns (total 21 columns):
Id                        5000 non-null int64
Rooms                     5000 non-null float64
Square                    5000 non-null float64
LifeSquare                5000 non-null float64
KitchenSquare             5000 non-null float64
Floor                     5000 non-null int64
HouseFloor                5000 non-null float64
HouseYear                 5000 non-null int64
Ecology_1                 5000 non-null float64
Social_1                  5000 non-null int64
Social_2                  5000 non-null int64
Social_3                  5000 non-null int64
Helthcare_2               5000 non-null int64
Shops_1                   5000 non-null int64
mean_price_by_district    5000 non-null float64
Ecology_2_A               5000 non-null uint8
Ecology_2_B               5000 non-null uint8
Ecology_3_A               5000 non-null uint8
Ecology_3_B               5000 non-null uint8
Shops_2_A                 5000 non-null uint8
Shops_2_B                 5000 non-null uint8
dtypes: float64(7), int64(8), uint8(6)
memory usage: 654.3 KB

In [38]:
test['Price']=model.predict(test)

In [39]:
test.head()

,Id,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,...,Helthcare_2,Shops_1,mean_price_by_district,Ecology_2_A,Ecology_2_B,Ecology_3_A,Ecology_3_B,Shops_2_A,Shops_2_B,Price
0,725,2.0,49.882643,33.432782,6.0,6,14.0,1972,0.310199,11,...,0,0,172368.882269,0,1,0,1,0,1,124097.342805
1,15856,2.0,69.263183,36.133228,1.0,6,1.0,1977,0.075779,6,...,0,2,236250.931918,0,1,0,1,0,1,164528.594969
2,5480,1.0,13.597819,13.597819,12.0,2,5.0,1909,0.000000,30,...,5,5,214167.841034,0,1,0,1,0,1,112236.338622
3,15664,2.0,73.046609,51.940842,9.0,22,22.0,2007,0.101872,23,...,3,3,206507.966738,0,1,0,1,0,1,152623.911130
4,14275,1.0,47.527111,43.387569,1.0,17,17.0,2017,0.072158,2,...,0,0,122710.743033,0,1,0,1,1,0,118265.396747

In [40]:
test.loc[:,['Id','Price']].to_csv('ASirotkin_predictions.csv',index=None)